/* Đã loại bỏ background đen của body */

.snowflake {
  position: fixed;
  top: -10px;
  color: #667eea;
  font-size: 1em;
  user-select: none;
  pointer-events: none;
  animation: fall linear infinite;
}

@keyframes fall {
  to {
    transform: translateY(100vh);
  }
}
