body {
  background: #0b1d2a;
  
}

.snowflake {
  position: fixed;
  top: -10px;
  color: white;
  font-size: 1em;
  user-select: none;
  pointer-events: none;
  animation: fall linear infinite;
}

@keyframes fall {
  to {
    transform: translateY(100vh);
  }
}
